<%- include header %>

	<div class="Mcontent" id="Mcontent">
		<div class="main">
			<h3 class="articleTitle"><%=articles.title %></h3>
		<div class="essayMessage">		
			<a href="#">发表时间:</a>
			<a href="#">作者：<%=articles.author %></a>
		</div>
		<div calss='essayDetail'>
			<%=articles.essayText %>	
	</div>
</body>
</html>