<!-- 共用头部 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title%></title>
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/<%= tag %>.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>	
</head>
<body>
	<div class="header">		
		<div class="context">
		<!-- 页面logo -->
			<h1 class="logo">geek</h1>
			<div class="nav">
				<ul>
					<li><a href='/'>首页</a></li>
					<li><a href="/display">写文章</a></li>
					<% if(user) { %>
						<li><a href="javascript:void(0)"><%= user.name%></a></li>
						<li><a href='/signout'>退出</a></li>
					<% } else { %>	
					
						<li><a href="/signin">登录</a></li>
						<li><a href='/register'>注册</a></li>
					<% } %>
				</ul>
			</div>
		</div>	
	</div>