<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
<body>
	<div class="Scontent">
		<h1>注册</h1>
		<div class="singIn">
			<form action="/admin/signup"  method="post" name="user">
				姓名<input type="text" name="user[name]" value="输入你的昵称"><br />
				密码<input type="password" name="user[password]"  ><br />
				确认密码<input type="password" name="user[repeat-password]" ><br>
				<input type="reset" name="取消"><input type="submit" name="提交">

			</form>
		
		</div>
	</div>
	
</body>
</html>