<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>
	<div class="Scontent">
		<h1>登录</h1>
		<div class="singIn">
			<form action="/admin/signin" method="post" name="user">
				姓名<input type="text" name="user[name]" placeholder="输入你的昵称"><br />
				密码<input type="password" name="user[password]" placeholder="输入密码"><br />
				<input type="reset" name="取消"><input type="submit" name="提交">

			</form>
		
		</div>
	</div>
	
</body>
</html>