<%- include header %>
	<div class="container" style="min-height:620px; max-width:600px; ">
			<form action="/admin/signin" method="post" name="user" role="form">
			  <h3 style="text-align:center;">登录</h3>
			  <div class="form-group">
					<label for="name">姓名</label>
					<input type="text" name="user[name]" class="form-control" id="name" placeholder="输入你的昵称">
				</div>
				<div class="form-group">
					<label for="password">密码</label>
					<input type="password" name="user[password]" class="form-control" id="password" placeholder="输入密码">
				</div>
				<button type="reset" class="btn btn-default">取消</button>
				<button type="submit" class="btn btn-default">提交</button>
			</form>				
	</div>
<%- include botton %>	