<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../src/index.css">
	<title>文章详情</title>
</head>
<body>
	<div class="header">
		<div class="context">
		<!-- 页面logo -->
			<h1 class="logo">GEEK Forum</h1>
			<!-- 页面搜索 -->
			<div class="search" action="">
				<form action="get" >		
					<input type="text" class="searchInput">
					<input type="button" class="searchButton" value="搜索">			
				</form>
			</div>	
			<div class="nav">
				<ul>
					<li><a href=#>首页</a></li>
					<li><a href="#">写文章</a></li>
					<li><a href=#>登录</a></li>
					<li><a href=#>退出</a></li>
				</ul>
			</div>
		</div>	
	</div>
	<div class="Econtent">
		<h3 class="articleTitle">文章标题</h3>
		<div class="essayMessage">		
			<a href="#">发表时间:</a>
			<a href="#">删除</a>
		</div>
		<div essayDetail>
			这是原文，这是原文，这是原文，这是原文,这是原文，这是原文，这是原文，这是原文,这是原文，这是原文，这是原文，这是原文,这是原文，这是原文，这是原文，这是原文,这是原文，这是原文，这是原文，这是原文,这是原文，这是原文，这是原文，这是原文,
		</div>
		<div class="essayComment">
		回复：
			<div class="essatCommentlist">				
				<a href="">姓名</a>
				<a href="">时间</a>
				<p>评论内容这是一条评论</p>
			</div>
			
		</div>
	</div>
</body>
</html>