<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>geekForum</title>
	<link rel="stylesheet" href="../src/index.css">
</head>
<body>
	<div class="header">
		<div class="context">
		<!-- 页面logo -->
			<h1 class="logo">GEEK Forum</h1>
			<!-- 页面搜索 -->
			<div class="search" action="">
				<form action="get" >		
					<input type="text" class="searchInput">
					<input type="button" class="searchButton" value="搜索">			
				</form>
			</div>	
			<div class="nav">
				<ul>
					<li><a href=#>首页</a></li>
					<li><a href="/display">写文章</a></li>
					<li><a href='/lognin'>登录</a></li>
					<li><a href='/loginout'>退出</a></li>
				</ul>
			</div>
		</div>	
	</div>

	<div class="Mcontent" id="Mcontent">
		<div class="main">
			<div class="article">
				<h2 class="essay">文章名称</h2>
				<span class="time">2016/3/30</span>
				<p class="Atext">这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容</p>
				<div class="feedmeta">
					<a href="#">评论</a>
					<a href="#">阅读原文</a>
					<a href="#">删除</a>
				</div>
				<div class="comment">
					<span>回复</span>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					
				</div>
			</div>
			<div class="article">
				<h2 class="essay">文章名称</h2>
				<span class="time">2016/3/30</span>
				<p class="Atext">这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容</p>
				<div class="feedmeta">
					<a href="#">评论</a>
					<a href="#">阅读原文</a>
					<a href="#">删除</a>
				</div>
				<div class="comment">
					<span>回复</span>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					
				</div>
			</div>
			<div class="article">
				<h2 class="essay">文章名称</h2>
				<span class="time">2016/3/30</span>
				<p class="Atext">这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容</p>
				<div class="feedmeta">
					<a href="#">评论</a>
					<a href="#">阅读原文</a>
					<a href="#">删除</a>
				</div>
				<div class="comment">
					<span>回复</span>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					
				</div>
				<div class="article">
				<h2 class="essay">文章名称</h2>
				<span class="time">2016/3/30</span>
				<p class="Atext">这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容这是一篇技术文章文章内容</p>
				<div class="feedmeta">
					<a href="#">评论</a>
					<a href="#">阅读原文</a>
					<a href="#">删除</a>
				</div>
				<div class="comment">
					<span>回复</span>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					<div class="commentlist">
						<i class="commentName">姓名：</i><p class="commentText">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</p>
					</div>
					
				</div>
			</div>
			</div>
		</div>
		<div class="information">
			<img src="headP" alt="个人头像" class="personalP">
			<p class="name">姓名</p>
			<p class="message">消息</p>
			<p class="publishArticle">发表的文章</p>
		</div>
	</div>
</body>
</html>