<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>geekForum</title>
</head>
<body>
	<div class="header">
		<!-- 页面logo -->
		<h1 class="logo">GEEK Forum</h1>
		<!-- 页面搜索 -->
		<form action="get" class="serch">
			<div class="shape">
				<input type="text" name="">
			</div>
			<div class="button">
				<input type="button">
			</div>
		</form>
		<div>
			<ul>
				<li><a herf=#>首页</a></li>
				<li><a href="">写文章</a></li>
				<li><a herf=#>登录</a></li>
				<li><a herf=#>退出</a></li>
			</ul>
		</div>
	</div>
	<div class="Mconeten">
		<div class="main">
			<div class="article">
				<h2 class="chapter">文章名称</h2>
				<span class="time">2016/3/30</span>
				<p class="Atext">文章内容</p>
				<div class="feedmeta">
					<a href="#">评论</a>
					<a href="#">+关注</a>
					<a href="#">删除</a>
				</div>
			</div>
		</div>
		<div class="information">
			<img src="headP" alt="个人头像" class="personalP">
			<p class="name">姓名</p>
			<p class="message">消息</p>
			<p class="follow">关注了</p>
			<p class="followed">关注</p>
		</div>
	</div>
</body>
</html>