<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理页面</title>
</head>
<body>
	<div class="Gcontent">
		<table class="Gchapter">
			<thead>
				<td>文章名称</td>
				<td>发表时间</td>
				<td>发表人</td>
				<td>删除</td>
				<td>更改</td>
				<td>最后更改时间</td>
			</thead>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<table class="Gregister">
			<thead>
				<td>姓名</td>
				<td>密码</td>
				<td>邮箱</td>
				<td>电话</td>
			</thead>
		</table>
	</div>
</body>
</html>