<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
<body>
	<div class="Rcontent">
		<form class="regest">
			<p class="Rname">姓名</p><input type="text" name="name">
			<p class="Rtel">电话</p><input type="text" name="tel">
			<p class="Remail">邮箱</p><input type="text" name="email">
			<p class="newPassword">密码</p><input type="password" name="password">
			<p class="CPassword">确认密码</p><input type="password" name="cpassword"><br>
			<input type="reset" name="取消"><input type="submit" name="确定">
		</form>
	</div>
</body>
</html>